form {
  align-items: center;
  background-color: #fff;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 1em;
  color: white;
  flex-direction: column;
  flex-grow: 1;
  margin: 4em 0;
  padding: 50px 100px;
  width: 31em;
}

.sign-in-items {
  display: flex;
  flex-direction: column;
}

.sign-in-title {
  margin-bottom: 35px;
  opacity: 2;
}

.subheader {
	margin-bottom: 35px;
}

input {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: white;
  font-size: large;
  font-weight: 700;
  margin-bottom: 30px;
  opacity: 0.6;
  padding: 2px 0 5px;
  width: 250px;
}

select {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: 700;
  height: 3em;
  opacity: 0.6;
  padding: 2px 0 5px;
  width: 250px;
}

.sign-in-button {
  background: #de440c;
  border: none;
  border-radius: 1em;
  color: #fff;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 4em;
  padding: 20px 30px;
}

.sign-in-button:hover {
  background: #f4581f;
  border-radius: 1em;
}

::placeholder {
  color: #fff;
  font-size: small;
  letter-spacing: 2px;
}
