.area {
	align-items: center;
	background-color: #fff;
	border-radius: 1em;
	display: flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2em 3em;
	padding: 40px;
}

.see-listings-button {
	background: #de440c;
	border: none;
	border-radius: 1em;
	color: #FFF;
	cursor: pointer;
	font-size: medium;
	font-weight: 600;
	letter-spacing: 3px;
	margin-top: 2em;
	padding: 20px 30px;
	text-decoration: none;
}

.see-listings-button:hover {
	background: #f4581f;
	border-radius: 1em;
}

.nickname {
	color: #808080;
	margin: 10px;
}

.location {
	margin: 10px;
}
