nav {
    height: 5em;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.sign-out-link-container {
    align-self: flex-end;
}

.sign-out-button {
	background: #ffa500;
	border: none;
	border-radius: 1em;
	color: #808080;
	cursor: pointer;
	font-size: medium;
	font-weight: 600;
	letter-spacing: 3px;
	margin-top: 4em;
    padding: 20px 30px;
    text-decoration: none;
}

.sign-out-button:hover {
	background: #ff8c00;
	border-radius: 1em;
}
  