nav {
	height: 5em;
	display: flex;
	flex-direction: row;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;
	padding: 0px 30px;
}

.greeting {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sign-out-button {
	background: #ffa500;
	border: none;
	border-radius: 1em;
	color: #808080;
	cursor: pointer;
	font-size: medium;
	font-weight: 600;
	letter-spacing: 3px;
	padding: 20px 30px;
	text-decoration: none;
}

.sign-out-button:hover {
	background: #ff8c00;
	border-radius: 1em;
}
