nav {
	align-items: center;
	background-color: #fff;
	border-bottom: 2px solid black;
	display: flex;
	flex-direction: row;
	height: 5em;
	justify-content: space-between;
	padding: 0px 30px;
}

.greeting {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.sign-out-button {
	background: #de440c;
	border: none;
	border-radius: 1em;
	color: #FFF;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 3px;
	padding: 10px 20px;
	text-decoration: none;
}

.sign-out-button:hover,
.favorites-button:hover {
	background: #f4581f;
	border-radius: 1em;
}

.favorites-button {
	background: #de440c;
	border: none;
	border-radius: 1em;
	color: #FFF;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 10px;
	padding: 10px 20px;
	text-decoration: none;
}
