.listing-detail {
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 1em;
	justify-content: center;
	padding: 40px;
	width: 700px;
}

div.listing-detail {
	margin: 2em auto;
}

.name {
	margin-bottom: 20px;
}

.address {
	margin: 20px 0;
}

.back-to-listings-button {
	background: #de440c;
	border: none;
	border-radius: 1em;
	cursor: pointer;
	font-size: medium;
	font-weight: 600;
	letter-spacing: 3px;
	margin-top: 2em;
	padding: 20px 30px;
	text-decoration: none;
	color: #FFF;
}

.back-to-listings-button:hover{
	background: #f4581f;
	border-radius: 1em;
}

.features-list {
	margin: 5px 0;
}

.favorites-button-label {
	margin-top: 30px;
}
