.listings {
	display: flex;
	flex-wrap: wrap;
}

.back-to-areas-button {
	background: #de440c;
	border: none;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: medium;
	font-weight: 600;
	letter-spacing: 3px;
	padding: 20px 30px;
	text-decoration: none;
	width: 100%;
}

.back-to-areas-button:hover{
	background: #f4581f;
	border-radius: 1em;
}

.bottom {
	background-color: white;
	text-align: center;
}
